{% extends 'base.html' %}

{% block head %} {% endblock %}

{% block body %}
<!-- OBSŁUGA WIADOMOŚCI FLASH -->
<!--    {% with messages = get_flashed_messages() %}-->
<!--        {% if messages %}-->
<!--            {% for msg in messages %}-->
<!--              <p>{{ msg }}</p>-->
<!--            {% endfor %}-->
<!--        {% endif %}-->
<!--    {% endwith %}-->
<form method="post">
    <label for="title">TU BĘDĄ JAKIEŚ SUGESTYWNE SŁOWA ZDANIA - test jak możemy kierować ludzmi</label>
    <br><br>

    <label for="content">Twoje pytenie do SI</label>
    <br>
    <textarea name="content"
              placeholder="Message content"
              rows="15"
              cols="60"
              >{{ request.form['content'] }}</textarea>
    <br>
    <button type="submit">Submit</button>
</form>


{% endblock %}