<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nawa</title>
    <meta name="desciption" content="describe site content">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    {% block head %} {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
<div class="wrapper">
    <div class="left">
        <div class="input-group">
            <label>Input</label>
            <textarea rows="7" type="text" placeholder="Enter some text" name="input"></textarea>
        </div>
         <div class="input-group">
            <label>Output</label>
            <textarea rows="7" type="text" placeholder="Enter some text" name="output"></textarea>
        </div>
    </div>
    <div class="right">
        <div class="input-group">
            <label>Temp</label>
            <input type="number" placeholder="Temp" min="0" max="1" name="conf"/>
        </div>
        <div class="input-group">
            <label>Select engine</label>
            <select>
                <option>engine1</option>
                <option>engine2</option>
                <option>engine3</option>
            </select>
        </div>
    </div>
</div>
</body>
</html>